@model Micro_social_platform.Models.Profile

<div class="d-flex justify-content-center">

    <a class="btn btn-outline-info" href="/Profiles/Index/">See all profiles</a>
    <a class="btn btn-outline-info" href="/Profiles/New/">Create a new profile</a>
    <a class="btn btn-outline-info" href="/Profiles/Edit/@Model.ProfileId">Edit this profile</a>
</div>

<br />
@if (ViewBag.Profile.IsPrivate == false)
{

    <div class="card">
        <h5 class="card-header">@Model.UserName</h5>
        <div class="card-body">
           
            <br />
            <br />
            <img style="width:200px" src="https://cdn-icons-png.flaticon.com/512/2517/2517614.png" class="card-img-top" />
            <br />
            <br />
            <h5 class="card-title">@Model.FirstName  @Model.LastName</h5>
            <p class="card-text">@Model.Description</p>
            <p>Has joined us at: @Model.JoinDate</p>
            <a href="/Profiles/Index/" class="btn btn-outline-info">Send a friend request</a>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
                <p class="text-danger">This account is private</p>  
                <h3 class="card-title py-3 px-3 rounded-2"><i class="bi bi-person-fill"></i>@Model.UserName</h3>
                 <br >
                <img style="width:150px" src="@ViewBag.Profile.ProfilePicture" class="card-img-top">
                <br />
                <br />
                 <a class="btn btn-outline-info" href="/Profiles/Index/">Send a friend request</a>
            </div>
            <br />      
    </div>
}